---
// No necesitas props, este es el embed fijo
---

<section id="terrenos" class="py-20 bg-white">
  <div class="container px-6 sm:px-8 md:px-12 max-w-7xl mx-auto">
    <div class="text-center mb-16 max-w-3xl mx-auto">
      <span class="inline-block text-advisor-teal font-medium mb-2"
        >TERRENOS DISPONIBLES</span
      >
    </div>

    <!-- Contenedor de Ecwid -->
    <div id="my-store-78233554"></div>
    <div>
      <script
        data-cfasync="false"
        type="text/javascript"
        src="https://app.ecwid.com/script.js?78233554&data_platform=code&data_date=2025-03-25"
        charset="utf-8"></script>
      <script type="text/javascript">
        xProductBrowser(
          "id=my-store-78233554",
          "defaultProductId=0",
          "defaultCategoryId=0",
          "categoriesPerRow=3",
          "views=grid(4,3)",
          "categoryView=grid",
          "searchView=none"
        );
      </script>
    </div>
  </div>
</section>
